<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulador</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form id="loginForm" method="get">
            <div class="form-group">
                <input type="text" id="nombreUsuario" placeholder="Ingrese un valor" required>
            </div>
            <button onclick="enviarDatos()">Enviar</button>
        </form>
        <div id="result"></div>
        <script src="../js/verificar_usuario.js"></script>
    </div>
</body>