<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operaciones</title>
    <link rel="stylesheet" href="../static/styles_trading.css">
</head>

<body>


    <!-- Barra lateral -->
    <div class="sidebar">
        <label>Seleccione una acción \n</label>
        <select id="acciones" name="click">
            <option value="BCOLOMBIA">BCOLOMBIA</option>
            <option value="GRUPOSURA">GRUPOSURA</option>
            <option value="NUTRESA">NUTRESA</option>
            <option value="CEMARGOS">CEMARGOS</option>
          </select>
          <script>
              document.querySelectorAll('#valueList li').forEach(item => {
                  item.addEventListener('click', event => {
                      alert(event.target.textContent);
                  });
              });
          </script>
        <label for="numero">Ingresa un cantidad de acciones a comprar o vender:</label><br>
        <input type="number" id="numero" name="numero" min="1" max="100">
        
        <button onclick= comprar_Accion() id="buyBtn">Comprar</button>
        <button onclick= vender_Accion() id="sellBtn">Vender</button>
        <button onclick= ver_portafolio() id="portfolioBtn">Portafolio</button>
        <button id="logoutBtn">Cerrar sesión</button>

    </div>

    <!-- Contenedor principal -->
    <div class="container">
        <!-- Contenido a la izquierda -->
        <div class="left-div">
            <p id="welcomeMessage"></p>
            <script src="../js/mensaje_bienvenida.js"></script>

            <div class="containerBancolombia">
                <div id="precioBancolombia"></div>
            </div>  
        
            <script>
                // Función para obtener y mostrar los precios de las acciones
                async function mostrarPrecios() {
                    const response = await fetch('http://127.0.0.1:8000/acciones/1'); // Reemplaza {accion_id} con el ID de la acción específica
                    const data = await response.json();
        
                    const preciosContainer = document.getElementById('precioBancolombia');
                    preciosContainer.innerHTML = ''; // Limpiar el contenedor antes de agregar nuevos datos
        
                    data.forEach(precio => {
                        const precioHTML = `
                            <div class="precio-item">
                                <h5>${precio.nombre_accion} (${precio.nombre_abreviado})</h5>
                                <p>Precio: ${precio.precio}</p>
                            </div>
                        `;
                        preciosContainer.innerHTML += precioHTML;
                    });
                }
        
                // Llamar a la función al cargar la página
                mostrarPrecios();
            </script>

            <div class="containerSura">
                <div id="precioSura"></div>
            </div>  

            <script>
                // Función para obtener y mostrar los precios de las acciones
                async function mostrarPrecios() {
                    const response = await fetch('http://127.0.0.1:8000/acciones/10'); // Reemplaza {accion_id} con el ID de la acción específica
                    const data = await response.json();

                    const preciosContainer = document.getElementById('precioSura');
                    preciosContainer.innerHTML = ''; // Limpiar el contenedor antes de agregar nuevos datos

                    data.forEach(precio => {
                        const precioHTML = `
                            <div class="precio-item">
                                <h5>${precio.nombre_accion} (${precio.nombre_abreviado})</h5>
                                <p>Precio: ${precio.precio}</p>
                            </div>
                        `;
                        preciosContainer.innerHTML += precioHTML;
                    });
                }

                // Llamar a la función al cargar la página
                mostrarPrecios();
            </script>

            <div class="containerArgos">
                <div id="precioArgos"></div>
            </div>  

            <script>
                // Función para obtener y mostrar los precios de las acciones
                async function mostrarPrecios() {
                    const response = await fetch('http://127.0.0.1:8000/acciones/3'); // Reemplaza {accion_id} con el ID de la acción específica
                    const data = await response.json();

                    const preciosContainer = document.getElementById('precioArgos');
                    preciosContainer.innerHTML = ''; // Limpiar el contenedor antes de agregar nuevos datos

                    data.forEach(precio => {
                        const precioHTML = `
                            <div class="precio-item">
                                <h5>${precio.nombre_accion} (${precio.nombre_abreviado})</h5>
                                <p>Precio: ${precio.precio}</p>
                            </div>
                        `;
                        preciosContainer.innerHTML += precioHTML;
                    });
                }

                // Llamar a la función al cargar la página
                mostrarPrecios();
            </script>

            <div class="containerIsa">
                <div id="precioISA"></div>
            </div>  

            <script>
                // Función para obtener y mostrar los precios de las acciones
                async function mostrarPrecios() {
                    const response = await fetch('http://127.0.0.1:8000/acciones/4'); // Reemplaza {accion_id} con el ID de la acción específica
                    const data = await response.json();

                    const preciosContainer = document.getElementById('precioISA');
                    preciosContainer.innerHTML = ''; // Limpiar el contenedor antes de agregar nuevos datos

                    data.forEach(precio => {
                        const precioHTML = `
                            <div class="precio-item">
                                <h5>${precio.nombre_accion} (${precio.nombre_abreviado})</h5>
                                <p>Precio: ${precio.precio}</p>
                            </div>
                        `;
                        preciosContainer.innerHTML += precioHTML;
                    });
                }

                // Llamar a la función al cargar la página
                mostrarPrecios();
            </script>

            <div class="containerEcopetrol">
                <div id="precioEcopetrol"></div>
            </div>  

            <script>
                // Función para obtener y mostrar los precios de las acciones
                async function mostrarPrecios() {
                    const response = await fetch('http://127.0.0.1:8000/acciones/5'); // Reemplaza {accion_id} con el ID de la acción específica
                    const data = await response.json();

                    const preciosContainer = document.getElementById('precioEcopetrol');
                    preciosContainer.innerHTML = ''; // Limpiar el contenedor antes de agregar nuevos datos

                    data.forEach(precio => {
                        const precioHTML = `
                            <div class="precio-item">
                                <h5>${precio.nombre_accion} (${precio.nombre_abreviado})</h5>
                                <p>Precio: ${precio.precio}</p>
                            </div>
                        `;
                        preciosContainer.innerHTML += precioHTML;
                    });
                }

                // Llamar a la función al cargar la página
                mostrarPrecios();
            </script>

            <div class="containerEnergiaBogota">
                <div id="precioEnergiaBogota"></div>
            </div>  

            <script>
                // Función para obtener y mostrar los precios de las acciones
                async function mostrarPrecios() {
                    const response = await fetch('http://127.0.0.1:8000/acciones/2'); // Reemplaza {accion_id} con el ID de la acción específica
                    const data = await response.json();

                    const preciosContainer = document.getElementById('precioEnergiaBogota');
                    preciosContainer.innerHTML = ''; // Limpiar el contenedor antes de agregar nuevos datos

                    data.forEach(precio => {
                        const precioHTML = `
                            <div class="precio-item">
                                <h5>${precio.nombre_accion} (${precio.nombre_abreviado})</h5>
                                <p>Precio: ${precio.precio}</p>
                            </div>
                        `;
                        preciosContainer.innerHTML += precioHTML;
                    });
                }

                // Llamar a la función al cargar la página
                mostrarPrecios();
            </script>

            <div class="containerCelsia">
                <div id="precioCelsia"></div>
            </div>  

            <script>
                // Función para obtener y mostrar los precios de las acciones
                async function mostrarPrecios() {
                    const response = await fetch('http://127.0.0.1:8000/acciones/6'); // Reemplaza {accion_id} con el ID de la acción específica
                    const data = await response.json();

                    const preciosContainer = document.getElementById('precioCelsia');
                    preciosContainer.innerHTML = ''; // Limpiar el contenedor antes de agregar nuevos datos

                    data.forEach(precio => {
                        const precioHTML = `
                            <div class="precio-item">
                                <h5>${precio.nombre_accion} (${precio.nombre_abreviado})</h5>
                                <p>Precio: ${precio.precio}</p>
                            </div>
                        `;
                        preciosContainer.innerHTML += precioHTML;
                    });
                }

                // Llamar a la función al cargar la página
                mostrarPrecios();
            </script>

            <div class="containerAval">
                <div id="precioAval"></div>
            </div>  

            <script>
                // Función para obtener y mostrar los precios de las acciones
                async function mostrarPrecios() {
                    const response = await fetch('http://127.0.0.1:8000/acciones/7'); // Reemplaza {accion_id} con el ID de la acción específica
                    const data = await response.json();

                    const preciosContainer = document.getElementById('precioAval');
                    preciosContainer.innerHTML = ''; // Limpiar el contenedor antes de agregar nuevos datos

                    data.forEach(precio => {
                        const precioHTML = `
                            <div class="precio-item">
                                <h5>${precio.nombre_accion} (${precio.nombre_abreviado})</h5>
                                <p>Precio: ${precio.precio}</p>
                            </div>
                        `;
                        preciosContainer.innerHTML += precioHTML;
                    });
                }

                // Llamar a la función al cargar la página
                mostrarPrecios();
            </script>

            <div class="containerExito">
                <div id="precioExito"></div>
            </div>  

            <script>
                // Función para obtener y mostrar los precios de las acciones
                async function mostrarPrecios() {
                    const response = await fetch('http://127.0.0.1:8000/acciones/8'); // Reemplaza {accion_id} con el ID de la acción específica
                    const data = await response.json();

                    const preciosContainer = document.getElementById('precioExito');
                    preciosContainer.innerHTML = ''; // Limpiar el contenedor antes de agregar nuevos datos

                    data.forEach(precio => {
                        const precioHTML = `
                            <div class="precio-item">
                                <h5>${precio.nombre_accion} (${precio.nombre_abreviado})</h5>
                                <p>Precio: ${precio.precio}</p>
                            </div>
                        `;
                        preciosContainer.innerHTML += precioHTML;
                    });
                }

                // Llamar a la función al cargar la página
                mostrarPrecios();
            </script>

            <div class="containerConficolombiana">
                <div id="precioCorficolombiana"></div>
            </div>  

            <script>
                // Función para obtener y mostrar los precios de las acciones
                async function mostrarPrecios() {
                    const response = await fetch('http://127.0.0.1:8000/acciones/9'); // Reemplaza {accion_id} con el ID de la acción específica
                    const data = await response.json();

                    const preciosContainer = document.getElementById('precioCorficolombiana');
                    preciosContainer.innerHTML = ''; // Limpiar el contenedor antes de agregar nuevos datos

                    data.forEach(precio => {
                        const precioHTML = `
                            <div class="precio-item">
                                <h5>${precio.nombre_accion} (${precio.nombre_abreviado})</h5>
                                <p>Precio: ${precio.precio}</p>
                            </div>
                        `;
                        preciosContainer.innerHTML += precioHTML;
                    });
                }

                // Llamar a la función al cargar la página
                mostrarPrecios();
            </script>

        </div>

        <!-- Contenido principal -->
        <div class="main-content">
            <!-- Widget de TradingView - Resumen de símbolos -->
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright">
                    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
                        <span class="blue-text">Track all markets on TradingView</span>
                    </a>
                </div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
                    {
                        "symbols": [
                            ["BVC:BCOLOMBIA|ALL"],
                            ["BVC:NUTRESA|1D"],
                            ["BVC:CEMARGOS|1D"],
                            ["BVC:GRUPOSURA|1D"]
                        ],
                        "chartOnly": false,
                        "width": "100%",
                        "height": "100%",
                        "locale": "en",
                        "colorTheme": "dark",
                        "autosize": true,
                        "showVolume": false,
                        "showMA": false,
                        "hideDateRanges": false,
                        "hideMarketStatus": false,
                        "hideSymbolLogo": false,
                        "scalePosition": "right",
                        "scaleMode": "Normal",
                        "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
                        "fontSize": "10",
                        "noTimeScale": false,
                        "valuesTracking": "1",
                        "changeMode": "price-and-percent",
                        "chartType": "area",
                        "maLineColor": "#2962FF",
                        "maLineWidth": 1,
                        "maLength": 9,
                        "lineWidth": 2,
                        "lineType": 0,
                        "dateRanges": [
                            "1d|1",
                            "1m|30",
                            "3m|60",
                            "12m|1D",
                            "60m|1W",
                            "all|1M"
                        ]
                    }
                </script>
            </div>
        </div>
    </div>

    <!-- Script para cerrar sesión -->
    <script>
        var logoutBtn = document.getElementById('logoutBtn');
        logoutBtn.addEventListener('click', function () {
            window.location.href = 'index.html'; // Redireccionar a la página de inicio
        });
    </script>

    
</body>

</html>
