<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Usuario</title>
</head>
<body>
    <input type="text" id="nombreUsuario" placeholder="Enter Username">
    <button id="enviarSolicitudBtn">Crear usuario</button>
    <div id="result"></div>
    <script>
        document.getElementById('enviarSolicitudBtn').addEventListener('click', function(event) {
            event.preventDefault();
            
            // Obtiene el valor del input
            var nombreUsuario = document.getElementById('nombreUsuario').value;

            // Prepara el cuerpo de la solicitud con el texto extraído
            var data = {
                nombre_usuario: nombreUsuario
            };

            // Envía la solicitud POST a la API usando Fetch
            fetch('http://127.0.0.1:8000/users/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (!response.ok) {
                    if (response.status === 400) {
                        throw new Error('Bad Request');
                    } else {
                        throw new Error('Network response was not ok');
                    }
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
                document.getElementById('result').innerText = JSON.stringify(data, null, 2);
                alert('Usuario creado correctamente');
            })
            .catch((error) => {
                console.error('Error:', error);
                document.getElementById('result').innerText = 'Error: ' + error;
                if (error.message === 'Bad Request') {
                    alert('Fallo al crear usuario: El nombre de usuario ya existe o los datos son inválidos.');
                } else {
                    alert('Error al crear usuario: ' + error.message);
                }
            });
        });
    </script>
    <a href="index.html" class="button">Volver al inicio</a>
</body>
</html>
